<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="mushroom-heading">
        <div class="titles">
          <h1>
            Will I die if I eat this mushroom?
          </h1>
          <h4>
            <%= @chance_of_death %>% chance of death
          </h4>
        </div>
        <div class="donut-container">
          <% red = ((@chance_of_death / 100) * 255) %>
          <% green = ((100 - @chance_of_death).round(2) / 100) * 255  %>
          <% stroke = "rgba(#{red},#{green},1,1)" %>
          <svg width="100%" height="100%" viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="40" fill="transparent" stroke-width="20" stroke="rgba(1,1,1,0.2)"/>
            <circle cx="50" cy="50" r="40" fill="transparent" stroke-width="20" stroke="<%= stroke %>" stroke-dasharray="<%= 2 * 3.14 * 40 %>" stroke-dashoffset="<%= 251.2 - (251.2 * @chance_of_death/100) %>"/>
              <text x="40" y="50" fill="black" font-size="10">
              </text>
            </svg>
            <div class="svg-container">
              <% if @chance_of_death > 50 %>
              <i class="fas fa-skull fa-2x"></i>
              <% else %>
              <i class="fas fa-heart fa-2x"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <%= render partial: "sidebar" %>
      </div>
      <div class="col-xs-8">
        <%= render partial: "mushroom_table" %>
      </div>
    </div>
  </div>
